.navbar {
    text-align: center !important;
}

.w3-navbar li {
    float:none;
    display:inline-block;
}

.main-buttons-fix {
    margin-right:40px;
}

.header-margin-fix {
    margin-top:70px;
}

.signup-controller .col-xs-12 {
    text-align: center;
}

.signup-controller .form-group {
    display: inline-block;
    width: 50%;
}

.error {
    border:1px solid red;
}

.error:focus {
    border:1px solid red;
}


.create-poll-options .form-group {
    width:100%;
}



.poll-view {
    margin-top:150px;
}

#pie{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }