<div ng-controller="signUpController" class="header-margin-fix signup-controller">
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <div class="form-group">
                  <label for="username">Name:</label>
                  <input ng-class="{ 'error': errors['username'] }"  type="text" class="form-control" id="username" ng-model="username">
               </div>
           </div>
           <div class="col-xs-12">
               <div class="form-group">
                  <label for="email">Email:</label>
                  <input ng-class="{ 'error': errors['email'] }"  type="text" class="form-control" id="email" ng-model="email">
               </div>
           </div>
           <div class="col-xs-12">
               <div class="form-group">
                  <label for="password">Password:</label>
                  <input ng-class="{ 'error': errors['password'] }"  type="password" class="form-control" id="password" ng-model="password">
               </div>
           </div>
           <div class="col-xs-12">
               <div class="form-group">
                   <button class="w3-btn w3-padding-16 w3-large w3-margin-top" ng-click="signMeUp()" >Sign Me Up !</button>
               </div>
           </div>
       </div>
   </div>
</div>